<div class="container-fluid">
  <section class="ps-2">
    <h4 class="pb-3 m-0">
      About
    </h4>
    <p>
      The RXJS observable maps functions (switchMap, mergeMap, concatMap and exhaustMap) are often misunderstood and, sometimes, are also causing behaviors in our application which are difficult for us to grasp. Thus, knowing precisely how they operate is very important.
    </p>
    <p>
      This project tries to show us, with proper visual feedback, the output of each observable map stream. For this, a text box, a send button and an empty list are displayed. Each time the button is clicked the message inside the text box is emitted to the stream that turns its output to a new item in the list.
    </p>
    <p>
      This whole process is lightly animated. Little boxes are displayed for each emitted message. These boxes act like a progress bar to the data being processed in the stream and the time each one takes to process is random.
    </p>
    <p>
      Each of the four streams is the same. The only difference is what RXJS observable map was put into the pipe, as you can see in the code. It is also possible to configure the interval in which the process time will randomize.
    </p>
    <p>
      I hope this project clarifies the basic mechanism of the RXJS observable maps, which for many, is yet too abstract. Explore this site and see for yourself.
    </p>
  </section>
  <section class="ps-2">
    <h5>
      See the source code at:
    </h5>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/stephano1234/rxjs-maps-visualization"
    >
      https://github.com/stephano1234/rxjs-maps-visualization
    </a>
  </section>
</div>
